<template>
    <section class="Form">
        <center><section class="titulo" v-on:click="ButtonHome"><span>WallArt</span>Comparte tu arte.</section></center>
            <br>
            <br>
            <button class="boton" v-on:click="ButtonLogIn"><b>Login</b></button>
            <button class="boton" v-on:click="ButtonSingUp"><b>Registrarse</b></button>
    </section>
</template>

<script>
export default {
    name: "Home",
    data: function(){

    },
    methods: {
        ButtonLogIn: function(){
            this.$emit('ButtonLogIn')
        },
        ButtonHome: function(){
            this.$emit('ButtonHome')
        },
        ButtonSingUp: function(){
            this.$emit('ButtonSingUp')
        }
    }
}
</script>

<style>

</style>