<template>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  </head>

  <div id="app" class="app">
    <section class="main-component">
      <section v-if="!is_auth" class="container">

        <section class="Imagen">
          <img src="../public/LogIn.jpg" class="ImagenLogIn">
        </section>

        <router-view
        v-on:ButtonLogIn="LoadLogIn"
        v-on:ButtonHome="LoadHome"
        v-on:ButtonSingUp="LoadSingUp"> 
        </router-view>

      </section>
    </section>
  </div>
</template>

<script>
export default {
  name: 'App',
  data: function(){
    return {
      is_auth: false 
    }
  },
  methods:{
    LoadHome: function(){
      this.$router.push({name: "Home"});
    },
    LoadLogIn: function(){
      this.$router.push({name: "LogIn"});
    },
    LoadSingUp: function(){
      this.$router.push({name: "SingUp"});
    }
  },

  created: function(){
    this.LoadHome()
  }

}
</script>

<style>

select {
  font-family: 'Roboto', sans-serif;
  border-width: 0px;
  border-radius: 3px;
  border-style: solid;
  border-bottom-width: 3px;
  border-color: #f1f4c6;
  background-color:#f1f4c6;
  height: 30px;
  width: 200px;
  margin: 10px;
}
input {
  font-family: 'Roboto', sans-serif;
  border-width: 0px;
  border-radius: 3px;
  border-style: solid;
  border-bottom-width: 3px;
  border-color: #f1f4c6;
  background-color:#f1f4c6;
  height: 30px;
  width: 200px;
  margin: 10px;
}
select:hover {
  border-color: #009f9d;
  transition:0.2s;
}
input:hover {
  border-color: #009f9d;
  transition:0.2s;
}
.titulo {
  height: 96px;
  width: fit-content;
  cursor: pointer;
  display: block;
  border-style: solid;
  border-width: 0px;
  margin: 20px;
}
.titulo span{
  display: block;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 3px;
  border-color:#009f9d;
  font-size: 60px;
  margin: 2px;
}
button {
  background-color:#009f9d;
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  border-width: 0px;
}
.boton:hover {
  background-color: #a2eae2;
  transition: 0.5s;
}
.boton{
  margin:20px;
  cursor: pointer;
  border-radius: 3px;
  height: 60px;
  width: 200px;
}
.container {
  display: flex;
}
.Form{
  height: fit-content;
  width: 450px;
  padding: 20px;
  align-self: center;
  text-align: center;
}
body {
  margin: 0 0 0 0;
}
.Imagen{
  width: 200px;
  padding: 20px 50px;
  margin: 0px 300px 0px 100px;
}
.app {
  height: 100%;
  padding: 10px 20px; 
  color:beige;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}
.ImagenLogIn {
  width: 500px;
  height: 600px;
}
</style>
